/* Colors and fonts */
body {
  background: #F6F4E6;
  color: #575F7D;
  font-family: 'Righteous', cursive;
  font-size: 32px;
  font-weight: lighter;
}

h1 {
  color: #575F7D;
  font-family: 'Amatic SC', cursive;
  font-size: 48px;
  font-weight: 900;
}
h2 {
  color: #C9485B;
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  font-weight: lighter;
  font-weight: 600;
}
h3 {
  color: #575F7D;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  font-weight: lighter;
}
h4 {
  color: #C9485B;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  font-weight: lighter;
  font-weight: 600;
}
h5 {
  color: #C9485B;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  font-weight: lighter;
  font-weight: 600;
}
a {
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  color: #5B8C85;
  font-weight: 600;
  font-size: 32px;
}
a:hover {
  color: pink;
}

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* < 960px screen */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* < 720px screen */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* < 540px screen*/
  .container {
    width: 300px;
  }
}

.card-white {
  background-color: #F6EEC7;
  padding: 40px;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  height: 325px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.btn-blue {
  background-color: #575F7D;
  color: #FFBABA;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: #FFBABA;
  color: #575F7D;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: #575F7D /*rgb(230, 230, 230)*/;
}
.list-inline i:hover {
  color: #FFBABA;
}

#introduction p {
  margin-bottom: 40px;
}
